# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase / secrets
.secret.local
google-services.json
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db
lib/config/api_keys.dart
